*{
    box-sizing: border-box;
    border-radius: 10px;
}


.title {
    text-align: center;
    font-weight: bold;
    margin: 20px;
}

input{
    transform:translate(25%,0);
    height: 60px;
    width: 70%;
    margin-bottom: 10px;
}

.signUp button {
    width: 70%;
    cursor:pointer;
    transform:translate(25%,0);
}
