.container{
     text-align: center;
     margin-top:280px;
}
#card-pick{
    transform: scale(1.1);
}
.card-box{
    position: relative;
    border-radius: 16px;
    overflow:hidden;
    display: inline-block;
    margin:10px;
    width: 100%;
    max-width: 280px;
    height: 360px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.26);
    transition: 0.5s;
}
.card-box:hover{
    transform: scale(0.8);
}

.img-gradient{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
    z-index: 1;
}

.text-wrap{
    position: absolute;
    bottom: 0;
    padding: 24px;
    z-index: 2;
    text-align: left;
}

.text-wrap h1{
    color: white;
    font-size: 24;
    margin-bottom: 8px;
    font-weight:  bold;
}

.text-wrap p{
    color: white;
    font-size: 18;
    line-height: 1.5;
}

.play-btn{
    width: 60px;
    height: 60px;
    position: absolute;
    right:24px;
    top:24px;
    background: blue url(../icon-play.png)
    no-repeat center;
    background-size: 24px;
    border-radius: 50%;
    z-index:2;
}
