*{
    box-sizing: border-box;
}

a{
    border: 1px solid red;
}

body{
    height:2000px;
    background-color:white;
    border: 1px solid red;
}

.header{
    z-index: 999;
    position: fixed;  
    width: 100%;
    height: 60px;
    top: 0;
    left:0;
    right:0;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(154, 178, 255);

    align-items: center;

    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow:0 0 5px black;

    border: 1px solid red;
}

nav{
    float:right;
    border: 3px solid blue;
}
nav ul{
    font-size: 0;
    border: 1px solid red;
}

nav li{
    font-size: 18px;
    display: inline-block;
    margin-left: 30px;
    opacity: 0.7; /*불투명도*/
    border: 1px solid red;
}
li:hover{
    transition: .25s;
    transform: translate(0,-5px);
    font-size: 20px;
}

nav li a{
    color: rgb(255, 255, 255);
    text-decoration: none; /*a태그 밑줄 삭제 */
}

.container{
    position: relative;
    margin:10vw 3vw;
    border-radius:20px;
    overflow:hidden;
    width:94%;
    border: 1px solid red;
    
    /* background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)); */
}

#bg{
    position: relative;
    z-index: 0;
    width:100%;
}

#text{
    font-family: 'Kumbh Sans',sans-serif;
    font-size: 250px;
    font-weight:bold;
    text-align: center;
    margin:auto;
    opacity: 0.9;
    color: #fff;
    margin-top: 20%;
    position: absolute;
    left:0;
    right:0;
    z-index: 2;
}
#city1{
    z-index: 3;
    width:100%;
    margin-top:8%;
    position: absolute;
}
#city2{
    z-index: 1;
    width:100%;
    position: absolute;
}

.login{
    width: 300px;
    background-color: #EEEFF1;
    margin-right:auto;
    margin-left:auto;
    text-align:center;
    border: 1px solid red;
}

.text-field{
    font-size: 14px;
    padding:10px;
    border: 1px solid red;
    width: 260px;
    margin-bottom:5px;
}

.submit-btn {
    font-size: 14px;
    padding: 10px;
    width: 260px;
    background-color: #1BBC9B;
    margin-bottom: 3px;
    color: blue;
    cursor:pointer;
}

.sign-btn{
    font-size: 14px;
    padding: 10px;
    width: 260px;
    cursor:pointer;
}